body {
  margin: auto;
}
* {
  box-sizing: border-box;
}
.quiz-container {
  max-width: 700px;
  min-height: 500px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 30px;
  margin: 14px auto;
}

.quiz-container::after,
.quiz-container::before {
  content: "";
  clear: both;
  display: table;
}

.question-number h3 {
  color: rgb(15, 167, 53);
  border-bottom: 1px solid rgb(0, 207, 138);
  margin: 0;
  padding-bottom: 15px 0;
}

.question {
  color: rgb(9, 180, 95);
  font-size: 22px;
  padding: 15px;
}

.options div {
  background-color: rgb(233, 233, 233);
  font-size: 16px;
  color: royalblue;
  margin-bottom: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.options div.disabled {
  pointer-events: none;
}

.options div.correct {
  z-index: 1;
  color: black;
}

.options div.correct::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(134, 255, 134);
  z-index: -1;
  margin: auto;
  animation: 1s ease;
  animation-fill-mode: forwards;
  padding: 0;
}

.options div.wrong {
  z-index: 1;
  color: black;
}

.options div.wrong::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 111, 111);
  z-index: -1;

  animation: animateBackground 1s ease;
  animation-fill-mode: forwards;
}

@keyframes animateBackground {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.button .btn {
  padding: 10px 20px;
  border-radius: 3em;
  cursor: pointer;
  background-color: #ffffff00;
  color: #000000;
  border: none;
  font-size: 1.1em;
  display: inline-block;
  margin: 15px 0;
}
.answers-tracker {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.answers-tracker div {
  height: 40px;
  width: 40px;
  background-color: #cccccc;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}

.answers-tracker div.correct {
  background-color: rgb(134, 255, 134);
  background-image: url("../img/correct.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.answers-tracker div.wrong {
  background-color: rgb(255, 111, 111);
  background-image: url("../img/wrong.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.quiz-over {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 9);
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}

.show {
  display: flex;
}
.hide {
  display: none;
}
.quiz-over .box {
  background-color: #009688;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  flex-basis: 700px;
  max-width: 700px;
  color: #ffffff;
}

.quiz-over .box h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

.quiz-over .box button {
  padding: 15px;
  border: none;
  border-radius: 4em;
  color: white !important;
  font-size: 16px;
  margin: 15 px 0 20px;
}
